<!-- templates/DesignEditorPage.html -->
{{# include "BasePage.html" #}}

{{ define "ExtraHeaderButtons" }}
<!-- Save Button -->
<button class="px-3 py-1.5 bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium rounded-md transition duration-150 ease-in-out flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
    </svg>
    Save
</button>

<!-- Export Button -->
<button class="px-3 py-1.5 bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600 text-gray-800 dark:text-gray-200 text-sm font-medium rounded-md transition duration-150 ease-in-out flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
    </svg>
    Export
</button>
{{ end }}

{{ define "BodySection" }}
    <input id="mapIdInput" value = "{{ .MapId }}" type="hidden" />
    <!-- Main content with right padding on desktop to account for sidebar -->
    <main class="flex-1 p-4 md:ml-64 print:ml-4">
        <!-- Document Content -->
        Content goes here.  This is vertically scrolled
    </main>
{{ end }}

{{ define "PreBodySection" }}
    <!-- Floating Action Button (FAB) for Adding Section -->
    <button id="fab-add-section-btn" title="Add new section to end" aria-label="Add new section to end" class="print:hidden hidden fixed bottom-20 right-8 z-20 inline-flex items-center justify-center w-14 h-14 bg-blue-600 hover:bg-blue-700 text-white rounded-full shadow-lg transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
        </svg>
     </button>
{{ end }} 

{{ define "PostBodySection" }}
<!-- Any additional scripts or content for Map detail page -->
{{ end }}

{{ define "MapDetailPage" }}
{{ template "BasePage" . }}
{{ end }}
