<!-- World Editor Phaser Panel using PhaserSceneView -->

{{# include "components/PhaserSceneView.html" #}}
{{# include "panels/WorldEditorToolbar.html" #}}

{{/* Define North region (toolbar) by extending PhaserSceneView_North block */}}
{{ define "PhaserSceneView_North" }}
<div
  id="phaser-scene-view-north"
  class="flex-shrink-0"
  style="flex-shrink: 0"
>
    {{ template "WorldEditorToolbar" }}
</div>
{{ end }}

{{/* Use PhaserSceneView - toolbar is defined above via block extension */}}
{{ define "PhaserPanel" }}

{{ template "PhaserSceneView" (dict

    "SceneId" "phaser-container"
    "CenterClass" "bg-gray-100 dark:bg-gray-900 p-2"
    "FlexMode" "fixed" )
}}

{{ end }}

