<!-- World Editor Phaser Panel using PhaserSceneView -->

{{# include "components/PhaserSceneView.html" #}}
{{# include "panels/WorldEditorPageToolbar.html" #}}

{{/* Define North region (toolbar) by extending PhaserSceneView_North block */}}
{{ define "PhaserSceneView_North" }}
<div
  id="phaser-scene-view-north"
  class="flex-shrink-0"
  style="flex-shrink: 0"
>
    {{ template "WorldEditorPageToolbar" }}
</div>
{{ end }}

{{/* Define South region (status bar) */}}
{{ define "PhaserSceneView_South" }}
<div
  id="phaser-scene-view-south"
  class="flex-shrink-0 px-2 py-1 bg-gray-200 dark:bg-gray-800 border-t border-gray-300 dark:border-gray-700 text-xs font-mono text-gray-600 dark:text-gray-400"
>
  <span id="editor-status-bar">Move mouse over map to see coordinates</span>
</div>
{{ end }}

{{/* Use PhaserSceneView - toolbar is defined above via block extension */}}
{{ define "WorldEditorPageScenePanel" }}

{{ template "PhaserSceneView" (dict

    "SceneId" "phaser-container"
    "CenterClass" "bg-gray-100 dark:bg-gray-900 p-2"
    "FlexMode" "fixed" )
}}

{{ end }}

